body {
    background: radial-gradient(circle, #2196f3, #f44336);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    width: 100%;
}

/* Header and Navigation */
header {
    background: linear-gradient(to right bottom, #1d4350, #a43931);
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 20px 30px -10px rgba(6, 8, 12, 1);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav .logo strong a {
    text-decoration: none;
    color: #fff;
}

.nav-links * {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 7px;
    transition: background 0.5s;
}

.nav-links *:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    text-decoration: none;
}

nav .logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links .cta {
    background: #00bfa5;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links .cta:hover {
    background: #00796b;
}

/* Project Section */
#projects {
    padding: 3rem 1rem;
    text-align: center;
}

#projects h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: #000;
}

/* User Info */
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.user-avatar, .empty-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.user-avatar-small, .empty-avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.user-name {
    font-size: 1.2rem;
    color: #fff;
}

/* Project List */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Project Card */
.project-card {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    max-width: 75%;
    width: 40%;
    text-align: left;
    color: #000000;
    box-shadow: 0px 54px 55px rgba(143, 133, 124, 0.25);
    animation: fade-in 1s ease-out;
}

.project-card h3 {
    margin-top: 0;
}

.project-card p {
    margin: 1rem 0;
}

.project-card .cta {
    display: inline-block;
    background: #00bfa5;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.project-card .cta:hover {
    background: #00796b;
}

/* Project Header with Avatar */
.project-header {
    display: flex;
    align-items: center;
}

.user-avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.empty-avatar-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

/* No Projects and Not Authenticated Cards */
.no-projects-card, .not-authenticated-card {
    padding: 2rem;
    border-radius: 10px;
    width: 60%;
    background-color: #f8f9fa;
    animation: fade-in 1s ease-out;
    margin: auto;
}

/* Form and Input Fields */
.create-project-card {
    background: linear-gradient(to right, #1d4350, #a43931);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    width: 40%;
    margin: 2rem auto; /* Adjusted margin to ensure proper display */
    text-align: left;
    animation: fade-in 1s ease-out;
}

.create-project-card h2 {
    margin-bottom: 1.5rem;
    color: #fff;
}

.create-project-card .form-group {
    margin-bottom: 1rem;
}

.create-project-card label {
    display: block;
    color: #fff;
    margin-bottom: 0.5rem;
}

.create-project-card input,
.create-project-card textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-project-card button {
    background: #00bfa5;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.create-project-card button:hover {
    background: #00796b;
}

/* Fade-in Animation */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    color : #f8f9fa;
    box-shadow: 0px 5px 50px 10px #ffffff;
    margin-top: auto;
    background: linear-gradient(to top, #1d4350, #a43931);
}
