<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMaster - Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/login_page.css') + '?' + cache_id }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/common.css') + '?' + cache_id }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <strong><a href="{{ url_for('taskmaster') }}">TASKMASTER</a></strong>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('taskmaster') }}">Home</a></li>
                <li><a href="{{ url_for('projects_page')}}">Projects</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">

        <div class="login-form">
            <form action="/login" method="POST">
                <label for="email">Username or Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
        
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
        
                <!-- Remember Me Checkbox -->
                <div class="remember-me">
                    <label for="remember"><input type=checkbox id="remember" name="remember">Remember Me</label>
                </div>
        
                <button type="submit" class="login-btn">Login</button>
            </form>
        
            <div class="additional-links">
                {% if invalid %}
                <p style="color: white; margin-bottom: 10px">Incorrect Password or email</p>
                {% endif %}
                <p>Don't have an account? <a href="/signup" class="sign-up">Sign up here.</a></p>
            </div>
        </div>
        


    </div>

    <footer>
        <p>&copy; 2024 TaskMaster. All Rights Reserved.</p>
    </footer>
</body>
</html>

